@font-face {

}

*{
  box-sizing: border-box;
}

canvas {
	z-index: -3;
	position: fixed;
	top: 0;
	left: 0;
}


::-moz-selection { /* Code for Firefox */
  /* background: #000000;
  color: #FAF0E6; */
}

::selection {
  /* background: #000000;
  color: #FAF0E6; */
}

body{
  /* font-family: 'Arial Black', Gadget, sans-serif; */
  font-family: Verdana, sans-serif;
  z-index: 1;
}
header{
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

}
main{

}

nav{
  z-index: 100;
  font-weight: bold;
}

.pointerplate{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-align: center;
  /* background-color: #ff0000; */
  z-index: 102;
}

/* .plate{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  z-index: 102;
  position: relative;
  bottom: 20%;
  left: 0;
  padding: 0;
  display: inline-block;
  pointer-events: none;
  background-color: #000000;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: default;
} */
/* .pointer {
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 0;
  padding: 10px;
  z-index: 103;
  top: 20%;
  left: 50%;
  pointer-events: none;
  background-color: #fff000;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
} */
#nav-indicator{
  position: absolute;
  transform: translateX(-50%);
  margin: 0 auto;
  top: 0;
  left: 50%;
  z-index: 103;
}
#particle-nav{
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,0.3);
  padding: 5px;
  /* transform: translateX(50%); */
  margin: 0 auto;
  border-radius: 50%;
  z-index: 103;
}

input{
  width:100%;
  margin:0;
}

/*
#slider{
  z-index: 103;
  transform: translateX(-50%);
  margin: 0 auto;
  top: 0;
  left: 100px;

} */


/* #pointer{
  height: 30px;
  width: 30px;
  position: fixed;
  margin-top: -15px;
  margin-left: -15px;
} */

/* #plate{
  height: 65px;
  width: 65px;
  position: fixed;
  margin-top: -32.5px;
  margin-left: -32.5px;
} */

.content-wrapper{
  margin-top: 10px;
  width: 98vw;
  /* height: 70vh; */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  min-width: 50vw;
}
.contents{
  margin: 10px auto;
  width: 100%;
  /* height: 100%; */
  height: 35vh;
  margin: 10px;
  display: flex;
  flex-direction: row;
  /* overflow-x: auto;
  overflow-y: hidden; */
  z-index: 2;
  padding: 10px;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: flex-start;
}
.contentbox{
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  z-index: 3;
  border: 1px solid #DCDCDC;
  border-radius: 50%;
}
.media-container{
  position: ralative;
  margin:0 auto;
  width: 100%;
  height: 35vh;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
  /* overflow-x: auto;
  overflow-y: hidden; */
}
.img-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  margin: 100px auto;
  z-index: 2;
}
.img-container img{
  width: 150px;
  margin: 20px;
  padding: 10px;
  z-index: 2;
  opacity: 0.5;
}
