@font-face {

}

*{
  box-sizing: border-box;
}

canvas {
	z-index: -3;
	position: fixed;
	top: 0;
	left: 0;
}


::-moz-selection { /* Code for Firefox */
  /* background: #000000;
  color: #FAF0E6; */
}

::selection {
  /* background: #000000;
  color: #FAF0E6; */
}

body{
  /* font-family: 'Arial Black', Gadget, sans-serif; */
  font-family: Verdana, sans-serif;
  z-index: 1;
  background: linear-gradient(to right, lightgray, lightsteelblue);
}
header{
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

}
main{
}

nav{
  z-index: 100;
  font-weight: bold;
}

.pointerplate{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-align: center;
  /* background-color: #ff0000; */
  z-index: 102;
}

/* .plate{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  z-index: 102;
  position: relative;
  bottom: 20%;
  left: 0;
  padding: 0;
  display: inline-block;
  pointer-events: none;
  background-color: #000000;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: default;
} */
/* .pointer {
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 0;
  padding: 10px;
  z-index: 103;
  top: 20%;
  left: 50%;
  pointer-events: none;
  background-color: #fff000;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
} */
#nav-indicator{
  position: absolute;
  transform: translateX(-50%);
  margin: 0 auto;
  top: 0;
  left: 50%;
  z-index: 103;
}
#particle-nav{
  width: 150px;
  height: 150px;
  /* background-color: rgba(0,0,0,0.3); */
  padding: 5px;
  margin: 0 auto;
  /* border-radius: 50%; */
  z-index: 103;
  /* transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px); */
  cursor: grab;
}

/* @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
} */

/* #pointer{
  height: 30px;
  width: 30px;
  position: fixed;
  margin-top: -15px;
  margin-left: -15px;
} */

/* #plate{
  height: 65px;
  width: 65px;
  position: fixed;
  margin-top: -32.5px;
  margin-left: -32.5px;
} */

.content-wrapper{
  margin-top: 10px;
  width: 98vw;
  /* height: 70vh; */
  top: 0;
  left: 0;
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  min-width: 50vw;
}
.contents{
  margin: 10px auto;
  width: 100%;
  /* height: 100%; */
  height: 35vh;
  margin: 10px;
  /* display: flex;
  flex-direction: row; */
  /* overflow-x: auto;
  overflow-y: hidden; */
  z-index: 2;
  padding: 10px;
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  /* align-items: flex-start; */
}
.contentbox{
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  z-index: 3;
  border: 1px solid #DCDCDC;
  border-radius: 50%;
}
.media-container{
  /* position: ralative; */
  margin:0 auto;
  width: 100%;
  /* height: 35vh; */
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
  /* overflow-x: auto;
  overflow-y: hidden; */
}
.img-container{
  /* position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  margin: 100px auto; */
  z-index: 2;
  text-align: center;
  position: relative;
}
/* .img-container img{
  width: 150px;
  margin: 20px;
  padding: 10px;
  z-index: 2;
  opacity: 0.5;
} */
.particles{
  position: absolute;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem Chartreuse);
  animation: zoom-in-zoom-out 2s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
#particle01, #myModal01{
  top: 20vh;
  left: 8vw;
}
#particle02, #myModal02{
  top: 5vh;
  left: 30vw;
}
#particle03, #myModal03{
  top: 45vh;
  left: 35vw;
}
#particle04, #myModal04{
  top: 35vh;
  left: 55vw;
}
#particle05, #myModal05{
  top: 65vh;
  left: 15vw;
}
#particle06, #myModal06{
  top: 27vh;
  left: 75vw;
}
#particle07, #myModal07{
  top: 0vh;
  left: 85vw;
}
#particle08, #myModal08{
  top: 58vh;
  left: 78vw;
}
#particle09, #myModal09{
  top: 3vh;
  left: 50vw;
}

/* .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 40vw; /* Full width */
    height: 60vh; /* Full height */
    overflow: hidden;  /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */ */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    /* border: 1px solid #888;
    border-radius: 15px; */
    width: 100%;
    height: 100%;
    /* box-shadow: 8px 4px 0 0 rgba(0,0,0,0.2),6px 20px 0 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-content iframe{
  border: none;
  box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 1px 1px 1px #888;
  -moz-box-shadow: 1px 1px 1px #888;
  border-radius: 15px;
}
.close{
  float: right;
  font-size: 2rem;
  color: #000000;
  padding: 10px;
  font-weight: bold;

}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
